<div id='container' ng-controller='ShortenController'>
  	<div class="navigation">
	  <ul>
		<li><a href="#/links">Links</a></li>
		<li><a href="#/shorten">Shorten</a></li>
        <li><a href="#/singin" ng-click='Auth.signout()'>Logout</a></li>
  	  </ul>
	</div>
  <div id="creator">
    <form>
      <input ng-model='newUrl' ng-change="isValidUrl(newUrl)" /> 
      <input ng-click='addLink(newUrl); newUrl=""' type='submit' value='Shorten'>
    </form>
    <div class="message">{{isValid}}</div>
  </div>
</div>