<div id='container' ng-controller='LinksController'>
	<div class="navigation">
	  <ul>
		<li><a href="#/links">Links</a></li>
		<li><a href="#/shorten">Shorten</a></li>
        <li><a href="#/singin" ng-click='Auth.signout()'>Logout</a></li>
  	  </ul>
	</div>
	
    <input ng-model="criteria" /> 
    <ul>
      <li class="link" ng-repeat="link in data.links | orderBy: '-visits' | filter: criteria">
      <img src='../../assets/redirect_icon.png'/>
      <div class='info'>
        <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
        <div class='title'>{{link.title}}</div>
        <div class='original'>{{link.url}}</div>
        <a href="{{link.baseUrl + '/' + link.code}}">{{link.baseUrl}}/{{link.code}}</a>
      </div>
	  </li>
    </ul>
</div>
